# REVIEW QUESTIONS 1

In [14]:
def cube(answer):
    return (answer**3)
prompt = "Please Enter a Number"
answer = float(input(prompt))
product = cube(answer)
print(product)
prompt1 = "Please Enter a Number"
answer1 = float(input(prompt1))
product1 = cube(answer1)
print(product1)

Please Enter a Number 4

64.0

Please Enter a Number 5

125.0

In [18]:
def greet(name):
    print(f"Hello {name}!")
prompt = "What is your Name"
answer = input(prompt)
greet(answer)

What is your Name Euwen

Hello Euwen!

# Review Questions 2

In [28]:
def convert_cel_to_far(cel):
    return (cel*1.8)+32
prompt = "Enter a Temperature in Degrees C:"
answer = float(input(prompt))
converted = convert_cel_to_far(answer)
print(f"{answer} degrees C = {round(converted,2)} degrees F")

Enter a Temperature in Degrees C: 38

38.0 degrees C = 100.4 degrees F

In [35]:
def convert_far_to_cel(far):
    return (far-32)*0.5556
prompt = "Enter a Temperature in Degrees F:"
answer = float(input(prompt))
converted = convert_far_to_cel(answer)
print(f"{answer} degrees F = {round(converted,2)} degrees C")

Enter a Temperature in Degrees F: 72

72.0 degrees F = 22.22 degrees C

# Review Questions 3

In [39]:
for n in range(2,11):
    print(n)

2
3
4
5
6
7
8
9
10

In [41]:
n = 2
while n<=10:
    print(n)
    n+=1

2
3
4
5
6
7
8
9
10

In [62]:
def doubles(n):
    return n*2
i=0
answer = 2
while i<=2:
    answer = doubles(answer)
    print(answer)
    i+=1

4
8
16